
html, body{
    height: 100%;
}
.container {
    height: 100%;
    display: grid;
    grid-template-columns: 200px auto 100px;
    grid-template-rows: 40px auto 50px;
    grid-template-areas: "header header header" "left main right" "footer footer footer";
}

.container .header {
    grid-area: header;
}

.container .footer {
    grid-area: footer;
}

.container .left {
    grid-area: left;
}

.container .right {
    grid-area: right;
}

.container .main {
    grid-area: main;
}